<%= form_for @mail_sequence, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :campaign_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :campaign_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :step, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :step, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :body_text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body_text, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :body_html, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body_html, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :send_after, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :send_after, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mail_sequences_path, :class => 'btn' %>
  </div>
<% end %>
