- model_class = Lead.new.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
  %em #{t 'We have found'} #{pluralize @leads.count, 'record'}

%div= will_filter_tag(@leads)
//%div= will_filter_table_tag(@leads, columns: [])

%div
  - @leads.each do |lead|
    %div[lead, :lead_box]
      %span.badge= lead.step
      %strong= link_to lead.name, lead_path(lead), rel: 'tooltip', title: lead.email
      %i.icon-chevron-right
      // %span.account= lead.account
      =campaign_label lead.campaign, lead.account.email
      %span.right= status_label lead
      - unless lead.user.nil?
        %i.icon-arrow-right
        %span.label.label-info= lead.user.name
      - if lead.being_viewed_by_anyone_else?
        .label.label-important
          %i.icon-eye-open
          #{User.find lead.viewing_by} since #{time_ago lead.last_access_time} ago
      .clear

      = time_ago lead.last_contacted
      .received #{t 'Messages Received'}: #{lead.messages_received_count}
      .sent #{t 'Messages Sent'}: #{lead.messages_sent_count}


      - message = lead.messages.first
      - unless message.blank? || message.body.blank?
        .message[message]
          .subject= message.subject
          = message.to_s
          %br
          %br
          = button_tag 'Response' , :class => 'btn btn-mini btn-primary response_button'
          = button_tag 'Fast Response', :class => 'btn btn-mini btn-primary fast_response_button'
          .response
            %h2 Send Email
            - @new_message.lead_id = lead.id
            - @new_message.account_id = lead.account_id
            = form_for @new_message do |f|
              = f.hidden_field :lead_id, value: lead.id
              = f.hidden_field :account_id, value: lead.account_id
              = f.hidden_field :to, value: lead.email
              = f.hidden_field :account_id, value: lead.account_id
              = f.hidden_field :user_id, value: current_user.id
              %b Schedule:
              = f.text_field :scheduled, value: Time.now
              %b Bcc:
              = f.text_field :bcc

              %div= f.text_field :subject, value: ("Re: #{lead.messages.first.subject}" unless lead.messages.empty?),
              class: 'span8'
              = f.text_area :body, value: lead.draft ,size: '150x3', placeholder: 'Reply here',
                  class: 'span8 editable-long-text'
              %div
                = f.submit 'Send', class: 'btn btn-success'
                = button_tag 'Save Draft', class: 'btn', id: 'savedraft'
          .fast_response
            %br
            .navbar
              .navbar-inner
                - TextModel.starred.each do |text_model|
                  - @new_message.lead_id = lead.id
                  - @new_message.account_id = lead.account_id
                  .spanFormat
                    = form_for @new_message do |f|
                      = f.hidden_field :lead_id, value: lead.id
                      = f.hidden_field :account_id, value: lead.account_id
                      = f.hidden_field :to, value: lead.email
                      = f.hidden_field :account_id, value: lead.account_id
                      = f.hidden_field :user_id, value: current_user.id
                      = f.hidden_field :scheduled, value: Time.now
                      = f.hidden_field :bcc
                      = f.hidden_field :subject, value: ("Re: #{lead.messages.first.subject}" unless lead.messages.empty?), class: 'span8'
                      = f.hidden_field :body, value: text_model.body ,size: '150x3', placeholder: 'Reply here',
                          class: 'span8 editable-long-text'
                      = f.submit text_model.title, class: 'btn'

    %hr

= link_to t('.new', :default => t("helpers.links.new")), new_lead_path, :class => 'btn btn-primary'
