- model_class = Lead.new.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
  %em #{t 'We have found'} #{pluralize @leads.count, 'record'}

%div= will_filter_tag(@leads)
//%div= will_filter_table_tag(@leads, columns: [])

%div
  - @leads.each do |lead|
    %div[lead, :lead_box]
      %span.badge= lead.step
      %strong= link_to lead.name, lead_path(lead), rel: 'tooltip', title: lead.email
      %i.icon-chevron-right
      %span.account= lead.account
      %span.right= status_label lead
      - unless lead.user.nil?
        %i.icon-arrow-right
        %span.label.label-info= lead.user.name
      - if lead.being_viewed_by_anyone_else
        .label.label-important
          %i.icon-eye-open
          #{User.find lead.viewing_by} since #{time_ago lead.last_access_time} ago
      .clear

      = time_ago lead.last_contacted
      .received #{t 'Messages Received'}: #{lead.messages_received_count}
      .sent #{t 'Messages Sent'}: #{lead.messages_sent_count}


      - message = lead.messages.last
      - unless message.blank? || message.body.blank?
        .message[message]
          .subject= message.subject
          = truncate(message.to_s, :length => 200)
    %hr

= link_to t('.new', :default => t("helpers.links.new")), new_lead_path, :class => 'btn btn-primary'
