<%- model_class = @lead.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:campaign_id) %>:</strong></dt>
  <dd><%= @lead.campaign_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_id) %>:</strong></dt>
  <dd><%= @lead.account_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @lead.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @lead.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @lead.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @lead.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:raiting) %>:</strong></dt>
  <dd><%= @lead.raiting %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @lead.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @lead.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @lead.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @lead.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:source) %>:</strong></dt>
  <dd><%= @lead.source %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_contacted) %>:</strong></dt>
  <dd><%= @lead.last_contacted %></dd>
  <dt><strong><%= model_class.human_attribute_name(:step) %>:</strong></dt>
  <dd><%= @lead.step %></dd>
  <dt><strong><%= model_class.human_attribute_name(:automatic) %>:</strong></dt>
  <dd><%= @lead.automatic %></dd>
  <dt><strong><%= model_class.human_attribute_name(:messages_received_count) %>:</strong></dt>
  <dd><%= @lead.messages_received_count %></dd>
  <dt><strong><%= model_class.human_attribute_name(:messages_sent_count) %>:</strong></dt>
  <dd><%= @lead.messages_sent_count %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              leads_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lead_path(@lead), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lead_path(@lead),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
