
.page-header
  %h1=@lead

%p
  %strong #{t 'Campaign'}:
  = @lead.campaign_id
%p
  %strong #{t 'Account'}:
  = @lead.account
%p
  %strong #{t 'Email'}:
  = @lead.email
  = link_to t('Open in Gmail'), "https://mail.google.com/mail/?shva=1#search/#{@lead.email.sub('@', '%40')}/",
  target: '_blank'
%p
  %strong #{t 'Status'}:
  = status_label @lead
%p
  %strong #{t 'Raiting'}:
  = @lead.raiting
%p
  %strong #{t 'Phone'}:
  = @lead.phone
%p
  %strong #{t 'Country'}:
  = @lead.country
%p
  %strong #{t 'City'}:
  = @lead.city
%p
  %strong #{t 'Address'}:
  = @lead.address
%p
  %strong #{t 'Source'}:
  = @lead.source
%p
  %strong #{t 'Last Contacted'}:
  = time_ago @lead.last_contacted
%p
  %strong #{t 'Step'}:
  = @lead.step
%p
  %strong #{t 'Automatic'}:
  = @lead.automatic
%p
  %strong #{t 'Messages Received'}:
  = @lead.messages_received_count
%p
  %strong #{t 'Messages Sent'}:
  = @lead.messages_sent_count
%p
  %strong #{t 'Resume'}:
  = @lead.resume
%p
  %strong #{t 'Bounce'}:
  = @lead.bounce
%p
  %strong #{t 'Stage'}:
  = @lead.stage

.form-actions
  = link_to t('Back'), leads_path, :class => 'btn'
  = link_to t('Edit'), edit_lead_path(@lead), :class => 'btn'
  = link_to t('Destroy'), lead_path(@lead), :method => "delete", :confirm => t('Are you sure?'), :class => 'btn btn-danger'

#messages
  - @lead.messages.each do |message|
    %div[message]
      %h3= message.subject
      %em= time_ago_in_words message.date
      %small= message.date
      .from #{t 'From'}: #{message.from}
      %pre= message.to_s.html_safe
    %hr
