- content_for :head do
  - aloha!

.page-header
  %h1=@lead
  %div
    %span.badge= @lead.step
    = status_label @lead
    = time_ago @lead.last_contacted

.span6
  %p
    %strong #{t 'Campaign'}:
    = @lead.campaign.name
  %p
    %strong #{t 'Account'}:
    = @lead.account
  %p
    %strong #{t 'Email'}:
    = @lead.email
    = link_to t('Open in Gmail'), "https://mail.google.com/mail/?shva=1#search/#{@lead.email.sub('@', '%40')}/",
    target: '_blank'
  %p
    %strong #{t 'Messages Received'}:
    = @lead.messages_received_count
  %p
    %strong #{t 'Messages Sent'}:
    = @lead.messages_sent_count
  %p
    %strong #{t 'Raiting'}:
    = @lead.raiting
  %p
    %strong #{t 'Phone'}:
    = @lead.phone
%span6
  %p
    %strong #{t 'Location'}:
    = [@lead.country, @lead.city].join
  %p
    %strong #{t 'Address'}:
    = @lead.address
  %p
    %strong #{t 'Source'}:
    = @lead.source
  %p
    %strong #{t 'Automatic'}:
    = @lead.automatic
  %p
    %strong #{t 'Resume'}:
    = @lead.resume
  %p
    %strong #{t 'Bounce'}:
    = @lead.bounce
  %p
    %strong #{t 'Stage'}:
    = @lead.stage

.form-actions
  = link_to t('Back'), leads_path, :class => 'btn'
  = link_to t('Edit'), edit_lead_path(@lead), :class => 'btn'
  = link_to t('Delete'), lead_path(@lead), :method => "delete", :confirm => 'Are you sure?',
  :class => 'btn btn-danger'
  %div{style: 'float: right;'}
    = form_for(@lead, remote: true) do |f|
      %b Assign to:
      = f.collection_select(:assigned_to, User.all, :id, :name, { :prompt => 'Please assign to a user'})
      %button{ type: "submit", class: "btn"} Assign

#reply

  = form_for @new_message do |f|
    = f.hidden_field :lead_id, value: @lead.id
    = f.hidden_field :account_id, value: @lead.account_id
    = f.hidden_field :to, value: @lead.email
    = f.hidden_field :account_id, value: @lead.account_id
    %b Schedule:
    = f.text_field :scheduled, value: Time.now
    %b Bcc:
    = f.text_field :bcc

    %div= f.text_field :subject, value: ("Re: #{@lead.messages.first.subject}" unless @lead.messages.empty?),
    class: 'span8'
    = f.text_area :body, size: '150x3', placeholder: 'Reply here', class: 'span8 editable-long-text'
    = f.submit 'Send', class: 'btn btn-success', style: 'display: block'

  .navbar
    .navbar-inner
      %form.navbar-form
        // %input.span3{ id: 'search-models', type: :text, placeholder: 'Search...' }

        // this is very ugly, makes many queries to db
        = grouped_collection_select(:text_model, :title, TextModel.categories, :from_category, :category, :id,
        :title)
        // = collection_select(:text_model, nil, @text_models, :id, :title)
        // = select_tag :select_text_model, options_from_collection_for_select(@text_models, :id, :title)

        %button{ id: :insert_text_model, type: "submit", class: "btn"} Insert

#scheduled_messages
  - @lead.scheduled_messages.each do |message|
    %div[message]
      %h3= message.subject
      - if message.sent?
        %span.label.label-warning Message sent
      - else
        %span.label.label-info Scheduled
        To send in:
      = distance_of_time_in_words Time.new, message.scheduled
      - unless message.sent?
        = link_to "Edit", edit_scheduled_message_path(message)
        = link_to t('.destroy', :default => t("Delete")), scheduled_message_path(message), :method => :delete,
        :remote => true, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm",
        :default => 'Are you sure?')) }
      %pre= message.body
    %hr

#messages
  - @lead.messages.each do |message| # next if message.id.nil?
    %div[message]
      %h3= message.subject
      %em= time_ago message.date
      .from #{t 'From'}: #{message.from}
      %pre= message.to_s.html_safe
    %hr


:javascript
  $(".chzn-select").chosen();