- model_class = TextModel
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @text_model.title
%p
  %strong= model_class.human_attribute_name(:body) + ':'
  %br
  = @text_model.body
%p
  %strong= model_class.human_attribute_name(:category) + ':'
  %br
  = @text_model.category

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), text_models_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_text_model_path(@text_model), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), text_model_path(@text_model), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
