<%= form_for(@lead_detail) do |f| %>
  <% if @lead_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead_detail.errors.count, "error") %> prohibited this lead_detail from being saved:</h2>

      <ul>
      <% @lead_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lead_id %><br />
    <%= f.number_field :lead_id %>
  </div>
  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
