- content_for :head do
  = javascript_include_tag 'really-simple-color-picker/jquery.colorPicker'
  = stylesheet_link_tag 'really-simple-color-picker/colorPicker'



= form_for @campaign, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :accounts, :class => 'control-label'
    .controls
      = hidden_field_tag "campaign[account_ids][]", nil
      - Account.all.each do |account|
        %label.checkbox
          = check_box_tag "campaign[account_ids][]", account.id, @campaign.account_ids.include?(account.id),
          id: dom_id(account)
          = "#{account.name} - #{account.email}"

  .control-group
    = f.label :label, :class => 'control-label'
    .controls
      = f.text_field :label, :class => 'text_field'
  .control-group
    = f.label :search_query, :class => 'control-label'
    .controls
      = f.text_field :search_query, :class => 'text_field'
  .control-group
    = f.label :color, :class => 'control-label'
    .controls
      = f.text_field :color, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .control-group
    = f.label :status, :class => 'control-label'
    .controls
      = f.check_box :status
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), campaigns_path, :class => 'btn'

:javascript
  $(function(){
    $('#campaign_color').colorPicker()
    // $.fn.colorPicker.addColors(['000', '000', 'fff', 'fff']);
    // $.fn.colorPicker.defaults.colors = ['000', '000', 'fff', 'fff'];
  });

