- model_class = @campaign.class
.page-header
  %h1=@campaign.name

%p
  = @campaign.description

.form-actions
  = link_to 'New Mail Sequence', new_mail_sequence_path, :class => 'btn blue'
  = link_to t('.back', :default => t("helpers.links.back")), campaigns_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_campaign_path(@campaign), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), campaign_path(@campaign), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'

#mail_sequences
  - @campaign.mail_sequences.each do |m|
    %div[m]
      %h3 #{m.step}: #{m.subject}
      %em= m.description
      = link_to 'Edit', edit_mail_sequence_path(m), class: 'btn-mini'
      = link_to 'Delete', mail_sequence_path(m), :method => "delete", :confirm => 'Are you sure?',
      :class => 'btn-mini'

      %pre= m.body_text.html_safe
    %hr
